<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
																					  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="i18nBean" class="com.sudha.I18NBean">
		<property name="messageResource" ref="resourceBundleMessage" />
	</bean>
	<bean id="resourceBundleMessage" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="com/sudha/resources/abc" />
	</bean>
</beans>