<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="user" class="com.sudha.User">
		<property name="uname" value="Tilak" />
		<property name="uqual" value="MCA" />
		<property name="uage" value="26" />
		<property name="uaddr" value="BLR" />
		<property name="uemail" value="Tilak@gmail.com" />
		<property name="umobile" value="8448475788" />
	</bean>

</beans>