<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="employee" class="com.sudha.Employee">
		<property name="eid" value="E-1234" />
		<property name="ename" value="" />
		<property name="esal" value="0" />
		<property name="eage" value="0" />
		<property name="eemail" value="" />
		<property name="emobile" value="" />
	</bean>
	<bean id="empValidator" class="com.sudha.EmployeeValidator">
		<property name="resource" value="/com/sudha/cfg/message.properties"/>
	</bean>
</beans>